a {
  text-decoration: none;
}

body {
  background: -webkit-linear-gradient(bottom, #02164b, #53bdcf);
  background-repeat: no-repeat;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

#forgot-pass {
  color: #750b14;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}

#card-content {
  padding: 12px 44px;
}

#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}

#signup {
  color: #05094b;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#submit-btn {
  background: -webkit-linear-gradient(right, #02164b, #53bdcf);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 30px;
  transition: 0.25s;
  width: 153px;
}

#submit-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

#sign-up-btn {
  background: -webkit-linear-gradient(right, #02164b, #53bdcf);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 1px 8px #24c64f;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 55.3px;
  margin: 0 auto;
  margin-top: 10px;
  transition: 0.25s;
  width: 153px;
}

a#sign-up-btn{
  text-align: center;
}

#sign-up-btn:hover {
  box-shadow: 0px 1px 18px #24c64f;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
}

.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}

.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;

}

.wrapper {
  width: 10000px;
  justify-content: space-between;
  margin: auto;
  position: relative;
  vertical-align: center;
}

.logo img {
  float: left;

}

.namaweb {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  float: left;
  margin-left: 30px;

}

.menu a {
  float: right;
}

nav {
  background: rgb(39, 28, 66);
  /*#3C415C*/
  border-bottom: black;
  display: flex;
  line-height: 100px;
  margin: auto;
  position: relative;
  position: -webkit-sticky;
  /*untuk safari*/
  top: 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  float: right;
  margin-left: 5px;
  margin-right: 50px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.log-button {
  border-radius: 10px;
  background-color: white;
  color: rgb(39, 28, 66);
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

a.log-button:hover {
  background: maroon;
  color: white;
  text-decoration: none;
}